{%extends "layout.html"%}

{%block content%}

<div class="container" style="border: 1px solid black;">

    <div class="container">
        *insert RL environment
    </div>
    <div class="container">
        This environment simulates traffic based on current traffic signalling methods.
    </div>

</div>

<div class="container" style="border: 1px solid black;">
    <div class="container">
        *insert RL environment
    </div>
    <div class="container">
        This environment simulates traffic based on our agents trained by our RL model.
    </div>
</div>

{%endblock%}