{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="container-fluid">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe id="videoFrame" width="560" height="315" src="https://www.youtube.com/embed/q2G9AWeanqY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="container mt-3">
        <button class="btn btn-primary" type="button" onclick="changeVideo('https://www.youtube.com/embed/q2G9AWeanqY')">Camera 1</button>
        <button class="btn btn-primary" type="button" onclick="changeVideo('https://www.youtube.com/embed/AVhnaEkakDM')">Camera 2</button>
        <button class="btn btn-primary" type="button" onclick="changeVideo('https://www.youtube.com/embed/NfYb5WT2sEs')">Camera 3</button>
        <button class="btn btn-primary" type="button" onclick="changeVideo('https://www.youtube.com/embed/V1_4nNm8a6w')">Camera 4</button>
        <button class="btn btn-primary" type="button" onclick="changeVideo('https://www.youtube.com/embed/UrWHKeDx6rk')">Camera 5</button>
    </div>
</div>

<script>
    function changeVideo(url) {
        document.getElementById('videoFrame').src = url;
    }
</script>

{% endblock %}
