{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="videoFrame" class="embed-responsive-item" src="https://www.youtube.com/embed/3qO3sxOtPMc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>

    <div class="mt-3 d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Camera buttons">
            <button class="btn btn-primary" type="button" onclick="changeVideo('3qO3sxOtPMc')">Camera 1</button>
            <button class="btn btn-primary" type="button" onclick="changeVideo('LiLJd72JLi0')">Camera 2</button>
            <button class="btn btn-primary" type="button" onclick="changeVideo('frsF4XjvW0k')">Camera 3</button>
            <button class="btn btn-primary" type="button" onclick="changeVideo('HAX3y6femFQ')">Camera 4</button>
            <button class="btn btn-primary" type="button" onclick="changeVideo('CZ6NoakNc8s')">Camera 5</button>
        </div>

    </div>
</div>

<script>
    function changeVideo(videoId) {
        const videoFrame = document.getElementById('videoFrame');
        videoFrame.src = `https://www.youtube.com/embed/${videoId}`;
    }
</script>
{% endblock %}
