{%extends "layout.html"%}

{%block content%}

<div class="container">
    <div class="container-fluid">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/q2G9AWeanqY?si=GpCQLCQtlSbcJq_C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
    </div>

    <div class="container">
        <button class="btn btn-primary" type="submit">Camera 1</button>
        <button class="btn btn-primary" type="submit">Camera 2</button>
        <button class="btn btn-primary" type="submit">Camera 3</button>
        <button class="btn btn-primary" type="submit">Camera 4</button>
        <button class="btn btn-primary" type="submit">Camera 5</button>
    </div>

</div>

{%endblock%}